.background-image {
  position: fixed;
  width: 100%;
  height: calc(100 * var(--vh));
  z-index: -1;
}
.title-16px {
  font-size: 16px;
  font-weight: 500;
}
.body-14px {
  font-size: 14px;
  font-weight: 400;
}
.body-12px {
  font-size: 12px;
  font-weight: 500;
}
.label-14px {
  font-size: 14px;
  font-weight: 700;
}

.label-11px {
  font-size: 11px;
  font-weight: 500;
}
.icon-xs {
  width: 16px;
  height: 16px;
}
.icon-md {
  width: 28px;
  height: 28px;
}
.icon-lg {
  width: 40px;
  height: 40px;
}

.user-marker-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: ping-animation 1.5s infinite;
  background-color: var(--color-gray-20);
}
.user-marker {
  width: 16px;
  height: 16px;
  background-color: #5a71ec;
  border-radius: 50%;
}
.content-marker-container {
  position: relative;
  width: 47px;
  height: 52px;
  background-color: none;
}
.content-marker {
  width: 100%;
  height: 100%;
}
.content-marker-image {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 7px;
  top: 7px;
  border-radius: 7px;
}
.default-content-marker-container {
  position: relative;
  width: 60px;
  height: 65px;
}
.default-content-marker {
  position: absolute;
  top: 0;
  left: 0;
}
.default-content-marker-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -80%);
}
