@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 10px;
}

.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.opacity-modal-enter-active,
.opacity-modal-leave-active {
  transition: opacity 0.5s ease;
}
.opacity-modal-enter-from,
.opacity-modal-leave-to {
  opacity: 0;
}

:root {
  /* 전역으로 사용할 스타일 생성 */
}

/* 반응형 설정 */
@media (max-width: 768px) {
  :root {
  }
}
